@model IEnumerable<BlogApp.ViewModels.BlogViewModel.BlogPostViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>All Blog Posts</h1>

<a class="btn btn-primary" href="@Url.ActionLink("Create","Admin")">
    Create Blog
</a>

<table class="table">
    <thead>
        <tr>
            <th>Author</th>
            <th>Body</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model)
        {
            <tr>
                <td>@post.Name</td>
                <td>@post.Body</td>
                <td>@post.dateTime</td>
                <td>
                    <a class="btn btn-warning" asp-controller="Admin" asp-action="Edit" asp-route-id="@post.Name">Update</a>
                    <a class="btn btn-danger" asp-controller="Admin" asp-action="Delete" asp-route-id="@post.Name">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>








